<div class="fixed-top ml-auto"  style="margin-top: 60px; width: 1110;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light ml-auto " style="width: 1110px;">
    <div class="container-fluid ">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-5">
          <a class="nav-link " aria-current="page" href="save-cards">Saved Cards</a>
          <a class="nav-link ml-5" href="save-adresses">Saved Address</a>

        </div>
      </div>
    </div>
  </nav>






       <label class=" mt-4 " style="margin-left: 400px;">Address Line1*</label><br>
       <input type="text"  style="margin-left: 400px;"><br>

        <label class="mt-4 " style="margin-left: 400px;">Address Line2*</label><br>
        <input type="text"   style="margin-left: 400px;"><br>

        <label class="mt-4 " style="margin-left: 400px;">Pin Code*</label><br>
        <input type="text"   style="margin-left: 400px;"><br>


        <label class=" mt-4 " style="margin-left: 400px;">State*</label><br>
        <input type="text"  style="margin-left: 400px;"><br>


        <label class=" mt-4 " style="margin-left: 400px;">Country*</label><br>
        <input type="text"   style="margin-left: 400px;"><br>




  </div>


