<div class="fixed-top" style="width: 100%; height: 100%; margin-top: 60px; background-color: white;">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light"
    style="width: 100%"
  >
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="margin-left: 300px">
          <a class="nav-link" aria-current="page" href="retail-transaction"
          >Retail Transaction</a
          >
          <a class="nav-link ml-5" href="creditCard-transaction"
          >Credit Card Transaction</a
          >
        </div>
      </div>
    </div>
  </nav>
<!--  <mat-divider></mat-divider>-->
  <div class="mt-1 " style="width: 100%; ">
    <div >
      <div class="float-right mr-3 mt-1">
  <label class="font-weight-bold">Last Statement <label class="text-warning">: {{responseData?.cardlimit?.laststatementdate}}</label></label>
  <label class="font-weight-bold">Pmt Due Date <label class="text-warning">: {{responseData?.cardlimit?.paymentduedate}}</label></label>
</div>




      <div class="d-flex justify-content-center container text-white " style="margin-left: 250px;">
        <div class="card p-2 px-3 py-3  " style="background-color: rgb(14, 14, 63); width: 28%;">
          <div class="d-flex justify-content-between align-items-center">
            <img
              src="https://i.imgur.com/8ANWXql.png"
              width="20"
              height="20"
            /><img src="https://i.imgur.com/SsTSozr.png" width="40" />
          </div>
          <div class="mt-1">
            <span>Credit Card</span><br>
            {{responseData?.cardetails?.card_number}}
          </div>
          <div class="d-flex justify-content-between card-details mt-3 mb-3">
            <div class="d-flex flex-column">
              <span class="light">{{responseData?.cardetails?.card_holder_name}}</span><span></span>
            </div>
            <div class="d-flex flex-row">
              <div class="d-flex flex-column mr-3">
                <button type="button" class="btn btn-success" (click)="open(content)">view cvv/expiry date</button>
              </div>

            </div>
          </div>
        </div>
      </div></div>






    <!--      <div class="mx-auto rounded mt-2" style="width: 250px; border: 1px solid black; background-color:rgb(161, 161, 35); ">-->
<!--  <div class="p-3">-->
<!--    <label>Active</label>-->
<!--    <label class="ml-3">VISA ICICI Coral Contactless</label>-->
<!--    <label class="font-weight-bold ml-3">{{responseData?.cardetails?.card_number}}</label>-->
<!--    <label>{{responseData?.cardetails?.card_holder_name}}</label>-->
<!--    <button type="button" class="btn btn-success ml-5" (click)="open(content)" >View CVV/Expiry</button>-->
<!--  </div>-->
<!--</div>-->

    <div class=" mt-5" style="width: 800px; background-color: whitesmoke;margin-left: 450px;">

<table class="table table-bordered ">
  <tbody>
    <tr>
      <td>Total Outstanding  <label style="color: rgb(9, 9, 61)"> :Rs {{responseData?.totaloutstanding}}</label><button type="button" class="btn btn-success ml-4">Pay</button></td>
      <td>Reward Points  <label style="color: rgb(9, 9, 61)"> :{{responseData?.cardlimit?.rewardpoints}}</label></td>
    </tr>
    <tr>
      <td>Total Cr Limit  <label  style="color: rgb(9, 9, 61)"> :Rs {{responseData?.cardlimit?.totalcreditlimit}}</label></td>
      <td>Avail. Cr Limit  <label  style="color: rgb(9, 9, 61)"> :{{responseData?.cardlimit?.availablecreditlimit}}</label> </td>
    </tr>
    <tr>
      <td >Total Cash Limit  <label  style="color: rgb(9, 9, 61)"> :Rs {{responseData?.cardlimit?.totalcashlimit}}</label></td>
      <td>Avail. Cash Limit  <label  style="color: rgb(9, 9, 61)"> :Rs {{responseData?.cardlimit?.availablecashlimit}}</label></td>
    </tr>
  </tbody>
</table>
    </div>

<div class="p-2 text-center "  style="margin-left:300px">
<button type="button" class="btn btn-success w-22" routerLink="/unbilled_txn" >View Statement</button>
</div>
</div>
</div>
<!--pop up-->

<ng-template #content let-modal  style="width:10%">

  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="background-color:rgb(161, 161, 35);">
    <h3 class="mx-auto">CVV : 456</h3>
    <h3 class="mx-auto">Expiry Date: 08/29</h3>
  </div>
</ng-template>
