  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1">

  </head>
<div *ngIf="showAlertMessage" class="alert alert-success alert-dismissible" role="alert" >
  <button type="button" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Success!</strong> Your profile is update successfully
</div>

   <img src="assets/profile_pic.png"/>


 <body class="container">
 <form class="col s12">
    <div class="row">
        <div class="row">
          <div class="input-field col s12 m12 l6">
            <input id="first_name" type="text" [(ngModel)]="userDetails.firstName" [ngModelOptions]="{standalone: true}" placeholder="First Name" required class="validate" pattern="^\S.{1,23}\S$" title="Please enter a first Name between 3-25 characters" length="25">
          </div>

          <div class="input-field col s12 m12 l6">
            <input id="lastname" [(ngModel)]="userDetails.lastName"  [ngModelOptions]="{standalone: true}"  placeholder="Last Name" type="text" required class="validate" pattern="^\S.{1,23}\S$" title="Please enter a last Name between 3-25 characters" length="25">
          </div>
        <div class="row">
          <div class="input-field col s12 m12 l6">
            <i class="material-icons prefix">email</i>
            <input id="email" placeholder="Email" type="email" [(ngModel)]="userDetails.email" [ngModelOptions]="{standalone: true}" required class="validate" title="Please enter a valid email">
          </div>
          <div class="input-field col s12 m12 l6">
            <i class="material-icons prefix">contact_phone</i>
            <input id="phone-number" type="tel" placeholder="Phone Number" [(ngModel)]="userDetails.phoneNo" [ngModelOptions]="{standalone: true}" required title="Please enter a valid phone number (e.g., (123) 456-7890)" pattern="^[0-9]?\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$" class="validate">
          </div>
        </div>
        <button class="waves-effect waves-light btn right" (click)="updateProfile()"  type="submit">save</button>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    </div>
 </form>
 </body>

