<div class="fixed-top ml-auto" style="width: 1158px; margin-top: 60px;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light ml-auto " >
    <div class="container-fluid ">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-5">
          <a class="nav-link " aria-current="page" routerLink="/profile">User Profile</a>

        </div>
      </div>
    </div>
  </nav>

<div>
  <div>
    <label class="mt-4 " style="margin-left: 100px;">Initial*</label>  <label class="float-right mt-4 " style="margin-right: 200px;">Address Line1*</label><br>
    <input type="text" style="margin-left: 100px;">                         <input type="text" class="float-right"  style="margin-right: 200px;"><br>
  </div>



  <div>
  <label class="mt-4 " style="margin-left: 100px;">First Name*</label>     <label class="float-right mt-4 " style="margin-right: 200px;">Address Line2*</label><br>
  <input type="text" style="margin-left: 100px;">                              <input type="text" class="float-right"  style="margin-right: 200px;"><br>
</div>

<div>
  <label class="mt-4" style="margin-left: 100px;">Last Name*</label>                               <label class="float-right mt-4 " style="margin-right: 200px;">Pin Code*</label><br>
  <input type="text" style="margin-left: 100px;">                           <input type="text" class="float-right"  style="margin-right: 200px;"><br>
</div>

<div>
  <label class="mt-4" style="margin-left: 100px;">Email ID*</label>                                 <label class="float-right mt-4 " style="margin-right: 200px;">State*</label><br>
  <input type="text" style="margin-left: 100px;">                            <input type="text" class="float-right"  style="margin-right: 200px;"><br>
</div>

<div>
  <label class="mt-4" style="margin-left: 100px;">Phone No*</label>                                <label class="float-right mt-4 " style="margin-right: 200px;">Country*</label><br>
  <input type="text" style="margin-left: 100px;">                              <input type="text" class="float-right"  style="margin-right: 200px;"><br>
</div>



</div>


</div>
