
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }

  .btn-group button {
  background-color: #04AA6D;
  border: 1px solid green;
  padding: 5px 5px;
  color: white;
  cursor: pointer;
  float: left;
}


.btn-group:after {

  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

div {
  padding-left: 25px;
  padding-right: 25px;
}


.btn-group button:hover {
  background-color: #3e8e41;
}

  tr:nth-child(even) {background-color: #f2f2f2;}
  </style>
<div >
  <h3>Transactions</h3>
<!--  <div class="btn-group">-->
    <button  class="btn btn-success ml-4" type="button" (click)="convertToPDF()">Download PDF</button>
<br>
<!--  </div>-->

    <br/><br/>
  <table class="container" id="contentToConvert" #content body bgcolor="#ffefd5">
     <thead>
        <tr>
           <th>PAYMENT TYPE</th>
           <th>TOTAL AMOUNT</th>
           <th>ORDER ID</th>
           <th>STATUS</th>
           <th>DATE</th>

        </tr>
     </thead>
     <tbody>
        <tr *ngFor="let item of user">
           <th>{{ item.paymentType==null?"NA" :item.paymentType }}</th>
           <td>Rs.{{ item.totalAmount }}</td>
           <td>{{ item.orderId }}</td>
           <td>{{ item.status}}</td>
           <td>{{ item.dataTime}}</td>

        </tr>
     </tbody>
  </table>
</div>
