.page {
  padding: 0 1rem;
  &__box {
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
  }
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
}
mat-drawer-container {
  height: 100%;
}

mat-drawer {
  background: #0f172a;
}

