<mat-nav-list>
  <div class="logo py-4">
    <h2>Slytherin </h2>
  </div>
  <mat-divider></mat-divider>
<!--  <h2 matSubheader class="mt-2">APPLICATIONS</h2>-->
  <br>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/cust-Transaction">
    <mat-icon >view_list </mat-icon> Transaction
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/save-cards">
    <mat-icon>save </mat-icon> Saved Details
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/profile">
    <mat-icon>portrait </mat-icon> Profile
  </a>
</mat-nav-list>

